
<h1 class="text-center">Choose your favorite bartender</h1>
<br>

<div class="card-container">

<div class="col-md-6 col-lg-7 card-grow">

<%@bartenders.each do |bartender|%>
<div class="card-product">
  <%if (bartender.photo.attached?) %>
    <%= cl_image_tag bartender.photo.key, height: 300, width: 400, crop: :fill %>
  <%end%>

  <div class="card-product-infos">
  <div class="d-flex justify-content-start">
    <h2><a href="./bartenders/<%=bartender.id%>"> <%=bartender.user.first_name%> <%= bartender.user.last_name %> </a> </h2>

    <%@reviews = bartender.reviews%>
    <%sum_rating = 0.00%>
    <%@reviews.each{ |review| sum_rating += review.rating }%>
    <%@reviews.length == 0 ? @average_rating = 0.00 : @average_rating = sum_rating / @reviews.length%>

    <p id="star"> ★ <%=@average_rating%> </p>
  </div>
    <% bartender.specialty.each do |specialty| %>
      <p class="d-inline-flex" id="specialty"> <%= specialty %> &nbsp; </p>
    <% end %>
    <p> <%= bartender.description %> </p>
    <p id="price"> € <%= bartender.price_per_day %> </p>
  </div>
</div>

<%end%>

</div>

<div class="col-md-6 col-lg-5">
  <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

</div>
