<ul>
    <li> <%= @user.first_name %></li>
    <li> <%= @user.last_name%> </li>
    <li> <%= @bartender.price_per_day%></li>
    <% @bartender.specialty.each do |specialty|%>
    <li><%= specialty%> </li>
    <%end%>
    </ul>

<%= button_to "Book it", new_bartender_booking_path(@bartender), method: :get%>
<%= button_to "Review it", new_bartender_review_path(@bartender), method: :get%>

<hr>

<h2> Reviews for <%= @user.first_name %> <%= @user.last_name %> </h2>

<ul>
<br>
<p> Average <%=@average_rating%> </p>
<% @reviews.each do |review| %>
  <li> <%= review.rating%> - <%=review.comment%> </li>
<% end %>

</ul>
