<h2> My account</h2>

<%= @user.last_name%>
<%= @user.first_name %>

<%= @user.address %>

<%= link_to "edit my account : name address etc...", edit_user_path(current_user) ,class: "dropdown-item"%>
<%= link_to "change my logs : mail & password", edit_user_registration_path(current_user) ,class: "dropdown-item"%>

