<h1>Airbartender</h1>
<br>
<br>


<ul> Top 10 Bartenders
    <%@bartenders.each do |bartender|%>
        <li> <a href="./bartenders/<%=bartender.id%>"> <%=bartender.user.first_name%></a> </li>
    <%end%>
</ul>


<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<%= button_to "login", new_user_session_path, method: :new%>

<a href="./bartenders"> See all Bartenders </a>
<%if user_signed_in?%>
    <a href="./users/<%=current_user.id%>/bookings"> See all my bookings </a>
    <%if Bartender.where(:user_id => current_user.id) != []%>
        <a href="./bartenders/<%=Bartender.where(:user_id => current_user.id)[0].id%>/bookings">See all the booking for me </a>
    <%else%>
        <
        <%= button_to "I want to be a Bartender !", new_user_bartender_path(current_user.id), method: :get%>
    <%end%>

<%end%>



