
<div class="container">

<h1 class="text-center">Airbnb Bartender</h1>
<br>

  <div>
    <input type="text" placeholder="Location">
    <input type="date" placeholder="Start date">
    <input type="date" placeholder="End date">
    <button> Search </button>
  </div>

  <br>

  <h2 class="text-center"> Top 10 Bartenders </h2>

  <div class="cards">
    <%@bartenders.each do |bartender|%>

    <div class="card-trip">
        <%= cl_image_tag bartender.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <a href="./bartenders/<%=bartender.id%>"> <%=bartender.user.first_name%> <%= bartender.user.last_name %> </a>
            <p> <%= bartender.description %> </p>
          </div>
          <h2 class="card-trip-pricing">  <%= bartender.price_per_day %></h2>
          <p class="card-trip-rating" >★ 4,5 </p>
        </div>

    </div>
  <%end%>

  </div>

  <br>
  <br>



  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
  <%#
  <%= button_to "login", new_user_session_path, method: :new  %>

  
  <a href="./bartenders"> See all Bartenders </a>
  <%if user_signed_in?%>
      <a href="./users/<%=current_user.id%>/bookings"> See all my bookings </a>
  <%end%>

<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<%= button_to "login", new_user_session_path, method: :new%>

</div>

