<div class="container">

<h1 class="text-center"> Leave a review for  <%= @bartender.user.first_name%> <%= @bartender.user.last_name %> </h1>

<%= simple_form_for [ @bartender, @review ] do |f| %>
<%= f.input :rating, collection: 0..5 %>
<%= f.input :comment %>
<%= f.submit "Submit review" %>
<% end %>

</div>
