<div class="container">

<h1 class="text-center"> Leave a review for  <%= @bartender.user.first_name%> <%= @bartender.user.last_name %> </h1>

<%= form_for [ @bartender, @review ] do |f| %>
<%= f.label(:rating, "Rating")%>
<%= f.range_field(:rating, in: 0..5)%><br>
<%= f.label(:comment, "Your Comment")%>
<%= f.text_field :comment %><br>
<%= f.submit "Submit review" %><br>
<% end %>

</div>
